/*правило для элементов main*/
main {
    margin-left: 30px;
    margin-right: 30px;    
}

/*правило для элементов относящихся к классу a_footer*/
.a_footer {
    display: block;    
}

/*карта*/
iframe {
    border: 0;
    width: 70vw;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px silver;
    border-radius: 10px;    
}

/*адрес*/
footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    padding: 20px 10px 0px 0px;
}

/*подключаем картинку для шапки*/
header {
    background: url('img/header.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    border-radius: 3%;  
    
}

header>h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*блоки*/

.ul-block{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
.item_column{
    flex-basis: 200px;
}



.ul-block1{
list-style-type: none;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
height: 100%;
}

.ul-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ul-block > li{

    margin-top: 5px;
    margin-right: 30px;
    color: brown;
    font-size: 15px;
    flex-basis: 225px;
}

 .ul-block > li > i {
    width: 40px;   
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
}




.card {
    box-shadow: 15px 5px 10px 0 rgba(34, 76, 110, 0.2);
    max-width: 200px;
    margin: 20px;
    text-align: center;

    border-radius: 2%; 
   
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 3%;     
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;    
    
    -webkit-border-radius: 50%;
        
}

.title {
    color: grey;
    font-size: 18px;
}

/* медиа */
@media (max-width: 430px) {
    header {
        height: 200px;
    }
}
@media (max-width: 340px) {
    header {
        font-size: 10px;
        height: 180px;
    }
}
